@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/434192960_4000338430193336_2765540851093616023_n.jpg?stp=dst-jpg_s350x350&_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeF06T5udV5xthkz_lgrna5VaSJZNAOccHhpIlk0A5xweMV_lRaR9CBn5aFnJyRuMs2BkPbivJdJ2nnU1wFxjTUi&_nc_ohc=mW7Wamn2ciQAX9JomYi&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRYeGFO0LPoXbUtc25YMsaJekt_QrqccoFCgmq6J-imnw&oe=662F2C2C);
  background-position: center;
  background-size: cover;
  height: 100vh;
}